<html lang="en">
  <link rel="stylesheet" href="/css/main.css" />
  <script src="./js/lang.js" defer></script>
  <script src="./js/main.js" defer></script>
<body>
  <header>
    <h1 id="page-title">
      <i class="fa-solid fa-basket-shopping"></i>Home Market
    </h1>
   <%- include('partials/navbar') %>
   

    <select id="language-selector" onchange="changeLanguage()">
      <option value="en">English</option>
      <option value="ar">العربية</option>
    </select>
  </header>

    <div>
      <h1>OOPS, page not found :)</h1>
    </div>

</body>

</html>