<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkout - Home Mart</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/checkout.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <script src="./js/lang.js" defer></script>
  <script src="./js/checkout.js" defer></script>
  <script src="./js/main.js" defer></script>
</head>
<body>
  <header>
    <%- include('partials/navbar') %>
  </header>


  <main class="checkout-container">
    <h2>Select Payment Method</h2>

    <form action="/checkout" method="POST">
      <h3>Select Payment Method:</h3>

      <label>
        <input type="radio" name="paymentMethod" value="cash_on_delivery" checked>
        Cash on Delivery
      </label><br>

      <label>
        <input type="radio" name="paymentMethod" value="credit_card">
        Credit Card
      </label>

      <div id="credit-options" style="display: none;">
        <% if (user.creditCard) { %>
          <p>Use saved card ending in ****<%= user.creditCard.cardNumber.slice(-4) %></p>
          <label>Enter CVV:
            <input type="text" name="cvv" maxlength="4" id="cvv-input">
          </label>
          <br>
          <button type="button" onclick="showAddCardModal()">Use a different card</button>
        <% } else { %>
          <p>No saved credit card found.</p>
          <button type="button" onclick="showAddCardModal()">Add a Credit Card</button>
        <% } %>
      </div>

      <br>
      <button type="submit">Complete Purchase</button>
    </form>

  </main>

  <footer>
    <p>© Home Mart 2025</p>
  </footer>
</body>
</html>
